/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Feb 25, 2024, 9:14:25 PM
    Author     : huy08
*/


.dropdown il{
    display: block;
}
.dropdown{
    width: 100%;
    background: white;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li:hover ul.dropdown{
    display:block;
}