/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Feb 27, 2024, 11:19:31 PM
    Author     : huy08
*/

.attendance{
    margin-top: 20px;
    text-transform: capitalize;
    font-family: Arial,sans-serif;
}
.attendance-list{
    /*  width: 100%;*/

    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    /*  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);*/
}
.table{
    margin: auto;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;

    overflow: hidden;
    border-radius: 5px 5px 5px 5px;
}
table thead tr{
    color: #fff;
    background: #4034afde;
    text-align: left;
    font-weight: bold;
}
.table th,
.table td{
    padding: 12px 15px;
}
.table tbody tr{

}
.table tbody tr:nth-of-type(odd){
    background: #f3f3f3;
}
.table tbody tr.active{
    font-weight: bold;
    color: #4AD489;
}
.table tbody tr:last-of-type{
    border-bottom: 2px solid #4AD489;
}
.table button{
    padding: 6px 20px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #4AD489;
}
.table button:hover{
    background: #4AD489;
    color: #fff;
    transition: 0.5rem;
}
.checkbox-container {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}

.checkbox-item {
    margin-right: 10px; /* Khoảng cách giữa các checkbox */
}